.footer {
    margin: 0 auto;
    margin-top: 30px;
    width: 80%;
    height: 100%;
    margin-bottom: 35px;
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }
    
    .row {
        background-color: #ffe0d8;
        margin-bottom: 3%;
        .msgInput {
            height: 70px;
        }
        ::placeholder {
            color: rgb(154, 154, 154);
            font-size: 12px;
          }
    }
    .col1 {
        height: 280px;
        margin: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 45px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .col2 { 
        margin-top: 10px;
        padding-top: 30px;
        height: 280px;
        border-left: 2px solid #fe884b;
        margin-top: 30px;
        margin-bottom: 30px;
        letter-spacing: 0.20em;
        margin-left: 10px;
        padding-left: 50px;
        
        button {
            width: 100%;
        }
        .btn-primary {
            background-color: #fe884b;
            color: black;
            border: none;
        }
        .btn-primary:hover {
            background-color: #ca5b24;
            border: none;
        }
        
    }
}
