
<div class="contactAs container">
    <div class="row">
        <div class="col-sm-4 col1">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>¡Contactanos!</strong></li>
                <li class="list-group-item"><img src="../../../assets/whatsapp-icon.png" height="30"/> WhatsApp: 22359638437</li>
                <li class="list-group-item"><img src="../../../assets/facebook-icon.png" height="30"/> Facebook: 22359638437</li>
                <li class="list-group-item"><img src="../../../assets/gmail-icon.png" height="30"/> GMail: 22359638437</li>
                </ul>
        </div>

        <div class="col-sm-6 col2">
            <div class="map"></div>
        </div>
    </div>
</div>
      



