@import '../../utils/mixins.scss';

.bkg-main {
    background-image: url('../../../assets/Landscapes/landscape-2.jpeg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    .head-main{
        text-align: center;
        margin-top: 150px;
        font-family: $fontFamilyPlaywrite;
        font-size: $fontSizeMainText;
        font-weight: 450;
        font-style: normal;
    }
    .p-main{
        text-align: center;
        margin-top: 20px;
        font-family: $fontFamilyPlaywrite;
        font-size: 30px;
        font-weight: 450;
        font-style: normal;
    }
}

@media only screen and (max-width: 576px) { 
    .bkg-main {
        .head-main{
            margin-top: 100px;
        }
    }
}
