.go-back {
    position: fixed;
    z-index: 10;
    margin-left: 96%;
}

img {
    width: 40px;
    transform: rotate(-0.25turn); 
}

.go-back:hover{
    opacity: 0.5;
    cursor: pointer;
}

img:hover {
    width: 50px;
}

@media only screen and (min-width: 576px) and (max-width: 1100px) {
    .go-back {
        margin-left: 94%;
    }
 
 }

@media only screen and (max-width: 576px) { 
    .go-back {
        margin-left: 94%;
    }
    img {
        width: 30px;
    }
    img:hover {
        width: 30px;
    }
}
