<div class="main-card">
    <h2>Un paraíso desconocido, un tesoro por descubrir</h2>
    <hr>
    
    <div class="paragraph">
        <p> {{paragraph1}} </p>
    </div>
    <div class="cards">
        <app-card legend= {{legend1}} bkgUrl={{bkg1}}></app-card>
        <app-card-reverse legend= {{legend2}} bkgUrl={{bkg2}} ></app-card-reverse>
        <app-card legend= {{legend3}} bkgUrl={{bkg3}}></app-card>
        <app-card-reverse legend= {{legend4}} bkgUrl={{bkg4}} ></app-card-reverse>
    </div>
</div>
