@import '../../utils/mixins.scss';

.main-card {
    background-color: #f0f0f0;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    margin-top: 300px;
    padding-top: 50px;
    text-align: center;
    letter-spacing: 0.25em;
    display: table;
    padding-bottom: 50px;
    hr {
        @include hrstyle;
        position: relative;
        background-color: #fe884b;
        width: 150px;
        margin-top: 30px;
    }
    .paragraph {
        letter-spacing: 0.20em;
        margin: 0 auto;
        margin-top: 50px;
        width: 80%;
    }
    .cards {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 576px) { 
    .main-card {
        .cards {
            margin-top: 5px;
        }
    }
}
