@import '../../utils/mixins.scss';

.rights {
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: #898989;
    font-family: $fontSizeMainText;
    font-weight: bolder;
    a {
        color: black;
        text-decoration: underline;
    }
  }