@import '../../utils/mixins.scss';

.gallery-card {
    background-image: url('../../../assets/playa.jpg');
    background-size: cover;
    margin-top: -10px;
    padding-top: 10px;
    height: 100vh;
    .presentation-cabin {
        width: 90%;
        background-color: $orange2;
        margin: 0 auto;
        @include legendStyleSmall;
        padding: 3%;
        letter-spacing: 0.25rem;
        margin-top: 5%;
        padding-bottom: 5%;
        .float-right {
            float: right;
            margin-top: 2%;
            margin-bottom: 2%;
        }
        .p-cards-presentation {
            @include legendStyle;
            margin: 0 auto;
            text-align: center;
            font-family:"Playwrite NZ", cursive;
            font-size: 35px;
        }
        .hr-presentation {
            margin-bottom: 3%;
            margin-top: 2%;
            width: 200px;
            height: 2px;
        }
    }
    .p-cards{
        @include legendStyle;
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
        font-family:"Playwrite NZ", cursive;
        font-size: 35px;
    }
    hr {
        background-color: #fe884b;
        width: 80px;
        height: 2px;
        margin: 0 auto;
        margin-top: 2%;
    }
    .g-card {
        width: 90%;
        background-color: #f0f0f0;
        margin: 0 auto;
        margin-top: 40px;
        padding-top: 20px;
        padding-bottom: 2%;
        .list-cabin {
            font-size: 20px;
            margin-left: 1%;
            margin-bottom: 3%;
            list-style: none;
            @include legendStyleSmall;
            padding: 3%;
            margin-top: 2%;
            letter-spacing: 0.25rem;
        }
        .img-big {
            width: 95%;
            margin: 0 auto;
            display: flex;
            margin-top: 8px;
            margin-bottom: 10px;
          //  box-shadow: 1px 6px 10px 10px rgba(0,0,0,0.6);
        }
        .row {
            display: flex;
            margin: 0 auto;
            margin-left: 2%;
            margin-right:2%;
        }        
        .img-row {
            width: 100%; 
            padding-left: 1%;
            padding-right: 1%;
//            box-shadow: 1px 6px 10px 10px rgba(0,0,0,0.6);
        }

    }
    .footer-galery {
        width: 90%;
        background-color: #f0f0f0;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        height: 75%;
    }
}